body {
  min-width: @media_mobile;
  font-family: @font_p;
  font-size: 14px;
  color: @color-dark_blue;
  background-color: @color-white;

  @media (min-width: @media_tablet) {
    font-size: 18px;
  }
}

button {
  cursor: pointer;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.b-container {
  box-sizing: border-box;
  width: @media_mobile;
  margin: 0 auto;
  padding-left: @mobile_padding;
  padding-right: @mobile_padding;

  @media (min-width: @media_tablet) {
    width: @media_tablet;
    padding-left: @tablet_padding;
    padding-right: @tablet_padding;
  }

  @media (min-width: @media_desktop) {
    width: @media_desktop;
    padding-left: @desktop_padding;
    padding-right: @desktop_padding;
  }
}

.b-containerWidth {
  box-sizing: border-box;
  width: @media_mobile;
  margin: 0 auto;

  @media (min-width: @media_tablet) {
    width: @media_tablet;
  }

  @media (min-width: @media_desktop) {
    width: @media_desktop;
  }
}

.b-containerPad {
  box-sizing: border-box;
  padding-left: @mobile_padding;
  padding-right: @mobile_padding;

  @media (min-width: @media_tablet) {
    padding-left: @tablet_padding;
    padding-right: @tablet_padding;
  }

  @media (min-width: @media_desktop) {
    padding-left: @desktop_padding;
    padding-right: @desktop_padding;
  }
}

.b_vHidden {
  .visuallyHidden();
}
