.container {
  margin: 0 auto;
  min-width: 360px;
  min-height: 100%;
}

.headerLink {
  color: black;
}

.headerLink:hover {
  color: blue;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 50px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  h1 {
    padding-top: 15px;
    font-size: 30px;
  }
}

footer {
  margin: -35px auto 0 auto;
  min-width: 360px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  background-color: #333333;
  opacity: 0.8;
  color: #ffefd5;
}

.clearFooter {
  height: 35px;
}
