.pomodoroBlock {
  width: 270px;
  height: 200px;
  margin: 5px auto;
}

.pomodoro {
  background-color: #ff4500;
}

.rest {
  background-color: yellow;
}

.pomodoroManage {
  width: 70px;
  height: 200px;
  float: left;
  box-sizing: border-box;
  /* border: 1px solid grey; */
}
